<%= error_messages_for 'numbering_item' %>
<div class="box tabular">
  <p><%= form.text_field :subject, :size => 100, :required => true %></p>
  <p><%= form.text_field :description, :size => 100, :required => false %></p>
</div>
